body {
  background-color: #e6e6e6;
  font-family: Arial;
  font-size: 18px;
  line-height: 22px;
}
@font-face {
  font-family: Berlin;
  src: url(assets/fonts/Berlin\ Sans\ FB\ Demi\ Bold.ttf);
}

.App-header {
  display: grid;
  grid-template: auto / 40vw 2fr 1.5fr;
  padding: 1em;
}
.toaboutlink {
  grid-column: 3;
  grid-row: 1/3;
  display: flex;
  align-self: center;
  font-size: 25px;
  align-items: center;
}
.name {
  grid-area: 1 / 1 / 2 / 2;
  max-width: 200px;
  color: #b79193;
  line-height: 50px;
  font-family: Berlin;
  font-size: 42px;
}

.contact {
  display: grid;
  grid-template: 30px 30px / 30px 1fr;
  row-gap: 5px;
  grid-column: 2;
  height: 65px;
  margin: 1em 0;
}
.content {
  padding: 10px 0;
}
.content p {
  margin-bottom: 20px;
}
.content p:last-child {
  margin-bottom: 0;
}
.narrow p {
  margin-bottom: 0;
}

.contact div:first-child {
  grid-area: 1 / 1 / 2 / 2;
}
.contact div:nth-child(2) {
  grid-area: 1 / 2 / 2 / 3;
  padding: 7px 5px;
}
.contact div:nth-child(3) {
  grid-area: 2 / 1 / 3 / 2;
}
.contact div:last-child {
  grid-area: 2 / 2 / 3 / 3;
  padding: 7px 5px;
}

.App-header img {
  height: 30px;
  width: 30px;
}

#cv {
  display: grid;
  grid-template: 3fr 0.5fr / 40% 60%;
  margin: 1em;
}
.indent {
  height: 10px;
}
#leftsection {
  grid-area: 1 / 1 / 3 / 2;
  margin-right: 1em;
}
#rightsection {
  grid-area: 1 / 2 / 3 / 3;
  margin-left: 1em;
}
.cv-heading {
  font-size: 20pt;
  line-height: 25pt;
  color: #b79193;
  border-bottom: 2px solid #b79193;
}

#hobbieswrapper {
  grid-area: 3 / 1 / span 1 / 3;
}

.hobby {
  display: grid;
  padding: 10px;
}

.hobby-img {
  height: 90px;
}

#hobbies {
  display: flex;
  justify-content: space-between;
  margin: 15px 0;
}
.diver {
  grid-column: 1;
  text-align: center;
}
.draving {
  grid-column: 3;
  text-align: center;
}
.skis {
  grid-column: 5;
  text-align: center;
}
.dance {
  grid-column: 7;
  text-align: center;
}
.games {
  grid-column: 9;
  text-align: center;
}
#photo {
  text-align: center;
  padding-bottom: 10px;
}
#photoofme {
  max-width: 75%;
  border-radius: 50%;
  border: 4px solid #b79193;
  outline: 6px solid #b79193;
  outline-offset: 4px;
}

#hobbieswrapper p {
  color: #706f6f;
}
#bars {
  font-size: 12pt;
  line-height: 30px;
}
.w3-light {
  background-color: #c7c7c7;
}
.w3-round-xlarge {
  border-radius: 16px;
}
.w3-salmon {
  background-color: #b79193;
}
#bars {
  padding: 10px 0;
}
.size {
  height: 10px;
}

@media only screen and (max-width: 767px) {
  #cv {
    grid-template: auto auto auto / 1fr;
  }
  .App-header {
    grid-template: auto auto auto/ 1fr;
  }
  .toaboutlink {
    grid-column: 1;
    grid-row: 3;
    font-size: 20px;
  }
  .name {
    grid-area: 1 / 1 / 2 / 2;
    max-width: 100%;
  }
  .contact {
    grid-area: 2 / 1 / 3 / 2;
    margin-top: 10px;
    font-size: 15px;
  }
  #rightsection {
    grid-area: 2 / 1 / 3 / 2;
    margin-left: 0;
    margin-right: 0;
  }
  #leftsection {
    grid-area: 1 / 1 / 2 / 2;
    margin-right: 0;
  }
  #hobbies {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 15px 0;
  }
  .hobby-img {
    height: 60px;
  }

  .content {
    font-size: 16px;
  }
  #hobbieswrapper div.content,
  #hobbieswrapper p.content {
    font-size: 11px;
    line-height: 18px;
  }
}
